@import "~bootstrap/scss/bootstrap";

.btn-outline {
	border: solid 1px #ccc;
}

.games-rating-stars {
	display: inline-block;
	label {
		&::before {
			display: inline-block;
		}
		&:hover {
			color: #189800;
			~ label {
				color: #189800;
			}
		}
	}
	* {
		margin: 0;
		padding: 0;
	}
	input {
		display: none !important;
	}
	unicode-bidi: bidi-override;
	direction: rtl;
	label {
		color: #ccc;
		&::before {
			content: "\2605";
			width: 18px;
			line-height: 18px;
			text-align: center;
			font-size: 18px;
			cursor: pointer;
		}
	}
	input:checked ~ label {
		color: #f5b301;
	}
}

.games-rating-disabled {
	opacity: .50;
	-webkit-pointer-events: none;
	-moz-pointer-events: none;
	pointer-events: none;
}

.btn-watch-now {
	padding: 0.85rem 2.13rem 0.85rem 3rem !important;
	background: #fff url(../images/watch_now.jpg) left center no-repeat;
	background-size: contain;
	&:visited {
		// background-color: #fff;
		border-color: darken(#fff, 25%);
		color: lighten(#000, 25%) !important;
	}
}

h2 {
	margin-bottom: 0 !important;
}

article.game, .game-result-wrap {
	border: solid 1px #ccc;
	@extend .card;
	.entry-header {
		display: none;
		@extend .card-header;
		.entry-title {
			@extend .card-title;
			font-size: 2rem !important;
			margin-bottom: 0;
		}
		
	}
	.entry-meta {
		display: none;
	}
	.entry-summary, .card-block {
		padding-top: 10px;
		a, a:visited {
			color: #000;
		}
		@extend .card-block;
		.aggregate-rating {
			margin-left: auto;
			margin-right: auto;
			strong {
				font-size: 48px;
				vertical-align: -20px;
				&.rating-color-0, &.rating-color-1, &.rating-color-2, &.rating-color-3, &.rating-color-4, &.rating-color-5, &.rating-color-6, &.rating-color-7, &.rating-color-8, &.rating-color-9, &.rating-color-10 {
					color: #EFD448;
				}
			}
		}
	}
	margin-bottom: 10px;
}

.nav-game-tag {
	li {
		border-right: solid 1px #000;
		border-radius: 0;
		padding: 0;
		margin-bottom: 0;
		@media(max-width: 580px) {
			border-right: 0 none;
		}
		&:last-child {
			border-right: 0 none;
		}
	}
}